*.class
target
target/*
build
build/*
nukkit-core/build
nukkit-core/build/*
nukkit-loader/build
nukkit-loader/build/*
.mtj.tmp/
*.war
*.ear
hs_err_pid*
*.MF
*.iml
.idea
.idea/*
.classpath
.project
.settings
.settings/*
banned-ips.json
banned-players.json
ops.txt
server.log
server.properties
white-list.txt
worlds
worlds/*
plugins
plugins/*
players
players/*
resource_packs
resource_packs/*
*.md
.DS_Store
.factorypath
dependency-reduced-pom.xml
*.log
/logs
